body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    display: none;
}

.container.active {
    display: block;
}

h1 {
    font-weight: 600;
    color: #000000;
    margin-bottom: 20px;
}

input[type="file"], .controls, button {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.carousel-container {
    width: 80%;
    max-width: 600px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #e0f7fa;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.controls input[type="number"] {
    width: 100px;
    padding: 5px;
    font-size: 16px;
}

button {
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

button:hover {
    background-color: #333333;
}
